# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*$py.class
*.pyc

# Virtual environments
.venv/
venv/
env/

# Database files
*.db
*.sqlite3

# Environment files
.env
.env.*

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE folders
.idea/
.vscode/